{% extends 'base.html' %}
{% load static %}
{% block HEAD %}
<link href="{% static 'css/homepage.css' %}" rel="stylesheet">
<style>
    #fairbutton{
    color: #508d96;
    border-color: #508d96;
    width: 70%;
    position: relative;
    left: 10%;
    top: 7%;
}
#homeimg{
    width: 35%;
    position: absolute;
    right: 20%;
    top: 20%;
}
#testphoto{
    width: 50%;
    position: absolute;
    top: 20%;
    right: 17%;
    
}
#yellowbook{
    background-color: #ee9745;
    border-radius: 50%;
    width: 6%;
    height: 5.3%;
    position: absolute;
    top: 48%;
    left: 30%;
}

#book{
    width: 80%;
    position:absolute;
    right: 8%;
    bottom: 15%;
}

@media screen and (max-width: 480px){
    #lefthome{
        background-color: #eef2f3;
        width: 55%;
        border-radius: 0%;
        height: 730px;
    }

    #righthome{
        background-color: #ffe4c9;
        width: 43.5%;
        height: 730px;
        margin-left: 1.5%;
        border-radius: 0%;
    }

    #homeimg{
        width: 65%;
        position: absolute;
        right: 10%;
        top: 50%;
    }
    #yellowbook{
        display: none;
    }

    #book{
        display: none;
    }

    #startinyimg{
        width: 8%;
        position: relative;
        top: 4%;
        right: 25%;
    }

    #startiny{
        width: 10%;
        position: relative;
        top: 10%;
        left: 25%;
    }

    #star{
        width: 10%;
        position: relative;
        top: 70%;
        left: 70%;
    }

    #hometext{
    position: relative;
    top: 20%;
    left: 18%;
}

#homehead{
    font-size: 220%;
    font-weight: bold;
}

#headtext{
    font-size:80%;
}


#homebutton{
    color: #508d96;
    border-color: #508d96;
    width: 60%;
    position: absolute;
    top: 85%;
    left: 20%;
}

#homebutton:hover{
    color: white;
    background-color: #508d96;
}

.fair{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 740px;
}

#fairtext{
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 10%;
}

#fairimg{
    border-radius: 15%;
    width: 80%;
    margin-left: 10%;
    margin-top: -10%;
}

#fairhead{
    font-size: 220%;
}

#fairpar{
    font-size: 80%;
}

#fairbutton{
    color: #508d96;
    border-color: #508d96;
    width: 80%;
    position: relative;
    left: 10%;
    top: 900%;
}
#fairbutton:hover{
        color: white;
        background-color: #508d96;
    }
    #testcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 700px;
}

#mycarousel{
    padding: 1.5%;
}

#testphoto{
    width: 5%;
    position: absolute;
    top: 20%;
    right: 115%;
    
}
}

</style>
{% endblock HEAD %}
{% block TITLE %}Welcome{% endblock TITLE %}
{% block BODY %}
<body>
    <div class="home">
        <div id="lefthome">
            <img id="startiny" src="{% static 'img/startiny.png' %}">
            <img id="star" src="{% static 'img/star.png' %}">
            <div id="hometext">
                <h1 id="homehead">What Book<br>Are You<br>Looking For</h1>
                <p id="headtext">Not sure what to read next? Explore our catalog!</p>
            </div>
            <div id="yellowbook">
                <img id="book" src="{% static 'img/book.png' %}">
            </div>
            <br>
            <a href="{% url 'reference:list-title' %}"><button type="button" id="homebutton" class="btn btn-outline-success">Explore now!</button></a>
        </div>
        <div id="righthome">
            <img id="homeimg" src="{% static 'img/myhome.png' %}">
            <img id="startinyimg" src="{% static 'img/startiny.png' %}">
        </div>
    </div>
    <div class="fair">
        <div id="fairtext">
            <h2 id="fairhead">Online Book<br>Fairs 2023</h2>
            <p id="fairpar">Our authors are passionate about their work<br> 
                and want to tell you more about their books and ideas!</p>
            <a href="{% url 'roles:login' %}"><button type="button" id="fairbutton" class="btn btn-outline-success">Create account or log in&#10084;</button></a>
        </div>
        <div><img id="fairimg" src="{% static 'img/dinofair.jpg' %}"></div>
    </div>
    <div class="testimonails">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div id="mycarousel" class="carousel-inner">
              <div class="carousel-item active">
                <div id="testcard">
                    <div id="testphoto"><img src="{% static 'img/woman.png' %}"></div>
                </div>
              </div>
              <div class="carousel-item">
                <div id="testcard">
                    <div id="testphoto"><img  src="{% static 'img/man.png' %}"></div>
                </div>
              </div>
              <div class="carousel-item">
                <div id="testcard">
                    <div id="testphoto"><img src="{% static 'img/girl.png' %}"></div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</body>
{% endblock BODY %}

