{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block HEAD %}
<style>
    #button{
        border-color: #508d96;
        color:#508d96;
        margin-top: 20px;
        margin-left: 20%;
        width: 60%;
    }

    #button:hover{
        background-color: #508d96;
        color:white
    }
    
#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 630px;
}
</style>
{% endblock HEAD %}
{% block TITLE %}{% endblock TITLE %}
{% block BODY %}
<br>
<br>
<br>
<div id="wrap">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'roles:login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input id="button" class="btn btn-outline-warning" type="submit" value="Login">
<input type="hidden" name="next" value="{{ next }}">
</form>
</div>
{# Assumes you set up the password_reset view in your URLconf #}
{% endblock BODY %}