{% extends 'base.html' %}
{% load static %}
{% block HEAD %}
<style>
    #button{
        border-color: #508d96;
        color:#508d96;
    }

    #button:hover{
        background-color: #508d96;
        color:white
    }
    
#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
}

#wrapout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

</style>
{% endblock HEAD %}
{% block TITLE %}Success{% endblock TITLE %}
{% block BODY %}
<br>
<br>
<div id="wrapout">
<div id="wrap">
    <h2>Thanks for the quality time with us! Have a nice day!</h2>
    <br>
    <a id="link" href="{% url 'home-page' %}"><button id="button" type="button" class="btn btn-outline-warning">Go back to the home page</button></a>
</div>
<div>
    <img src="{% static 'img/bye.png' %}">
</div>
</div>
{% endblock BODY %}