{% extends 'base.html' %}
{% load static %}
{% block HEAD %}
<style>
    #button{
        border-color: #508d96;
        color:#508d96;
    }

    #button:hover{
        background-color: #508d96;
        color:white
    }
    
#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
}

#wrapout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
@media screen and (max-width: 480px){
#success{
    width: 140%;
    margin-top: -45%;
    margin-left: -27%;
}
#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin-left: 7%;
}
#button{
        border-color: #508d96;
        color:#508d96;
        width: 120%;
    }
}
</style>
{% endblock HEAD %}
{% block TITLE %}Order success{% endblock TITLE %}
{% block BODY %}
<br>
<br>
<div id="wrapout">
<div id="wrap">
    <h2>Congratulations! Your order is placed.
        <br>
        Thanks for choosing us!
    </h2>
    <br>
    <a id="link" href="{% url 'home-page' %}"><button id="button" type="button" class="btn btn-outline-warning">Go back to the home page</button></a>
</div>
<div>
    <img id="success" src="{% static 'img/order_placed.png' %}">
</div>
</div>
{% endblock BODY %}